/* Web Fonts */
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('//fonts.googleapis.com/earlyaccess/hanna.css');

@font-face {
    font-family: 'FlightSans-Title';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/FlightSans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Global */

:root {
    /* Main Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    /* colors : 작업 중간 메인 컬러를 바꾸고 싶을 때는? main으로 쓸 색상을 별도 변수로 담아두면 편함 */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* 화면 size */
    --size-max-width: 1200px;
}

 /* 전체 선택자 */
* {
    box-sizing: border-box;
 }

 body {
    font-family: 'FlightSans-Title', sans-serif;
    margin: 0;
 }

 h1, h2, h3, p, ul { margin: 0; }

 ul { list-style: none; padding: 0; }

 a { text-decoration: none; color: var(--color-text)}

 button {
    background-color: transparent;
    outline: 0; /* 버튼 테두리선 */
    border: 0; /* 보더 두께 */
 }

 button:focus { outline: 1px solid var(--color-accent);}

.section { padding: 4rem; text-align: center;}
/* px은 고정 크기 / rem은 상대 크기 (pc, mob에 따라 상대적, (1rem = 16px) 부모가 2rem(32px)이면 자식의 1rem이 32px*/

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
} /* CSS에서는 _ 안쓰고 - 씀 */

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/* Header - 기본자 마무리 후 헤더 하나씩 수정 */
.header {
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-text);
}

.header__menu__item.active {
    border: 1px solid var(--color-text);
    border-radius: 4px;
}

/* home */

#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 7rem 1rem 5rem;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px solid var(--color-text);
    /* 이미지가 부모 요소의 크기에 맞춰 비율을 유지하면서 꽉 차도록 설정 */
    object-fit: cover;
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.5rem;
}

.home__contact {
    display: inline-block;
    /* inline-block을 주면 옆으로 나열 (화면을 줄이게 되면 아래로 떨어짐 wrap) 되고, 글자 속성도 가지고 있다 (열의 속성 + 글자 속성) */
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}

/* about */
.majors {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2.5rem 0;
}

.major {
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default; /* 화살표 모양 그대로 */
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.4);   
}  

.major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;
}

.major:hover .major__icon {
    transform: rotate(-15deg) scale(1.2);
} 

.major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.jobs {
    text-align: start; /* 언어에 따라 시작위치를 다르게 설정 (한국어, 일어 다름) */
}

.job {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job__name {
    color: var(--color-primary);
}

.job__period {
    color: var(--color-primary);
    font-size: 0.8rem;
}


/* 기술 skills */
#skills {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skills {
    display: grid; /* 바둑판 형태로 그리드를 열너비 6:4 비율을 만듬*/
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden; /* 넘치면 가려달라 */
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.skills__title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills__coding {
    grid-row: span 2; /* 요소가 몇개 행을 차지할 지 설정 */
    padding: 1rem;
    background-color: var(--color-primary);
}

.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}

.bar__metadata {
    display: flex;
    justify-content: space-between;
}

.bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar__value {
    height: 3px;
    background-color: var(--color-accent);
}

.skills__tools{
    padding: 1rem;
}

.skills__etc {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%); /* 100% 원래 밝기 150% 더 밝아짐 */
}

/* Career */
#career {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.categories {
    display: flex;
    justify-content: center;
    /* 마진은 요소 간의 외부 여백 */
    margin: 2.5rem;
    /* 갭은 그리드, 플렉스, 레이아웃에서 자식 요소 간의 사이 간격 */
    gap: 1rem;
}

.category {
    position: relative;
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    white-space: nowrap;
}

